.department{
    margin-top: 50px;
    background-color: $light-gray;
    padding: 50px;
    &__iconRow{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        .card-icon{
                width:30%
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        margin-top: 50px;

    }

}