.top-nav {
    background-color: $light-gray;
    padding: 1px;

    div {
        display: flex;
        justify-content: right;
    }
        &__icon {
            display: flex;
            justify-content: right;
            border-right: 1px solid $gray-color;
            padding: 10px 20px;
            height: 100%;

            i {
                margin-right: 5px;
                color: $secondry-color;
            }

            p {
                color: $gray-color;
                font-size:14px;
            }
        }

}