.text-section{
    padding: 10px;
    margin-top: 50px;
    div{
        display: flex;
        justify-content: space-between;
    }
    .section-title{
        display: inline;
        &__stpg{
            font-size: 20px;
            margin-top: -15px;
            margin-bottom: 10px;
        }
        &__ndpg{
            font-size:15px ;
            margin-top: 25px;
            margin-bottom: 45px;
        }
    }
    img{
        width: 30%;
        border-top: 20px solid $light-color;
        border-bottom: 20px solid $light-color;
        box-shadow: 0px 0px 7px $gray-color;
    }

}